.questionAuth{
    &__email{
        padding-bottom: 45px;
        text-align: center;
        &-title{
            @include font-regular(16px);
            margin: 18px 0;
        }
        @include media(600){
            &-title{
                @include font-regular(14px);
            }
        }
    }
    &__content{
        padding: 45px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &-title{
            @include font-bold(40px);
            margin-bottom: 20px;
        }
        &-dropdown{
            width: 55%;
            margin:6px 0
        }
        &-description{
            background-color: $dropdown-color;
            margin-top: 2px;
            max-height: 0vh;
            overflow: hidden;
            transition: ease-out 0.25s;
            transition-property: max-height;
            -webkit-transition: ease-out 0.25s;
            -moz-transition: ease-out 0.25s;
            -ms-transition: ease-out 0.25s;
            -o-transition: ease-out 0.25s;
            &.show{
                max-height: 100vh;
            }
            p{
                padding: 15px 20px;
                @include font-regular(20px);
                text-align: left;
            }
        }
        &-main{
            background-color: $dropdown-color;
            align-items: center;
            justify-content: space-between;
            display: flex;
            padding: 15px 20px;
            h6{
                @include font-regular(22px);
                text-align: left;
            }
        }
    }
    @include borderBottom;
    @include media(1150){
        &__content{
            &-dropdown{
                width: 85%;
            }
            &-main{
                h6{
                    @include font-regular(18px)
                }
            }
            &-description{
                p{
                    @include font-regular(18px)
                }
            }
        }
    }
    @include media(800){
        &__content{
            &-main{
                h6{
                    @include font-regular(14px)
                }
            }
            &-description{
                p{
                    @include font-regular(14px)
                }
            }
        }
    }
    @include media(600){
        &__content{
            &-dropdown{
                width: 100%;
            }
        }
    }
}