.itemBox{
    padding: 0px 2px;
    position: relative;
    cursor: pointer;
    max-height: 150px;
    aspect-ratio: 18/9;
    overflow: hidden;
    -webkit-aspect-ratio: 18/9;
    -moz-aspect-ratio: 18/9;
    -ms-aspect-ratio: 18/9;
    -o-aspect-ratio: 18/9;
    &::after{
        content: '';
        position:absolute;
        background-image: linear-gradient(5deg,rgba(0,0,0,.7) 0,rgba(0,0,0,0.1) 67%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &_img{
        max-width: 100%;
        border-radius: 4px;
        height: 100%;
    }
    &_title{
        z-index: 10;
        position: absolute;
        bottom: 10px;
        left: 20px;
        max-width: 70%;
        @include font-semiBold(12px)
    }
}


