.itemBox{
    padding: 0px 2px;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    &::after{
        content: '';
        position:absolute;
        background-image: linear-gradient(5deg,rgba(0,0,0,0.8) 0,rgba(0,0,0,0.1) 80%);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &_cover{
        position: relative;
    }
    &_img{
        max-width: 100%;
        border-radius: 4px;
        max-height: 150px;
        aspect-ratio: 19/10;
        -webkit-aspect-ratio: 19/10;
        -moz-aspect-ratio: 19/10;
        -ms-aspect-ratio: 19/10;
        -o-aspect-ratio: 19/10;
    }
    &_title{
        z-index: 10;
        pointer-events: none;
        position: absolute;
        bottom: 10px;
        left: 20px;
        max-width: 70%;
        @include font-semiBold(12px)
    }
    // @media (hover:hover){
    //     &:hover{
    //         transform: scale(1.3);
    //         z-index: 1000;
    //         // margin-left: 50px;
    //     }
    // }
}


