.skeleton{
    width: 100%;
    min-height: 150px;
}

.skeletonName{
    width: 15%;
    margin-bottom: 15px;
}

.skeletonLoad{
    width: 100%;
    min-height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.skeletonWrapper{
    padding: 0 50px;
    margin-bottom: 20px;
    @include media(992){
        padding:  0 10px;
    }
}