@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Permanent+Marker&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

p {
  word-break: normal;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background: #cccccc;
}
body::-webkit-scrollbar-thumb {
  background: #747272;
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

hr {
  color: #141414;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  background-color: #000000;
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.emailBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.emailBar .inputWrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
}
.emailBar .inputWrapper__input {
  width: 100%;
  max-width: 450px;
  padding: 0 12px;
  height: 58px;
  outline: none;
  border: none;
}
.emailBar .inputWrapper__placeholder {
  font-weight: 400;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  color: #8c8c8c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  transition: ease-in-out 0.2s;
  pointer-events: none;
}
.emailBar .inputWrapper__placeholder.add {
  top: 20%;
  font-weight: 700;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  color: #8c8c8c;
}
.emailBar .sendBtn {
  padding: 13.15px 26px;
  background-color: #e50914;
  font-weight: 400;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.emailBar .sendBtn:active {
  background-color: #bb0a12;
  box-shadow: 0 0 0 0.085em #85050b;
}
@media only screen and (max-width: 800px) {
  .emailBar {
    flex-direction: column;
  }
  .emailBar .sendBtn {
    font-weight: 400;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: white;
    height: initial;
    padding: 12px 24px;
    margin-top: 20px;
  }
}

.authContentPage__content {
  padding: 25px 50px;
}
.authContentPage__content-wrapper {
  display: flex;
  align-items: center;
}
.authContentPage__content-wrapper.reverse {
  flex-direction: row-reverse;
}
.authContentPage__content-text {
  margin: auto;
  width: 43%;
  padding: 20px;
}
.authContentPage__content-media {
  margin: auto;
  width: 43%;
  position: relative;
}
.authContentPage__content-media img {
  position: relative;
  z-index: 2;
}
.authContentPage__content-video {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 73%;
  max-height: 100%;
  z-index: 1;
}
.authContentPage__content-video video {
  width: 100%;
  height: 100%;
}
.authContentPage__content-title {
  font-weight: 700;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.authContentPage__content-description {
  margin-top: 18px;
  font-weight: 400;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: white;
  word-break: normal;
}
@media only screen and (max-width: 1000px) {
  .authContentPage__content-wrapper {
    flex-direction: column;
  }
  .authContentPage__content-wrapper.reverse {
    flex-direction: column;
  }
  .authContentPage__content-text {
    width: 80%;
    padding: initial;
    padding-top: 20px;
    text-align: center;
  }
  .authContentPage__content-title {
    font-weight: 700;
    font-size: 38px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  .authContentPage__content-description {
    font-weight: 400;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  .authContentPage__content-media {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .authContentPage__content {
    padding: 35px 10px;
  }
  .authContentPage__content-text {
    width: 100%;
  }
  .authContentPage__content-title {
    font-weight: 700;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  .authContentPage__content-description {
    font-weight: 400;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  .authContentPage__content-media {
    width: 100%;
  }
}

.footerData__content {
  padding: 20px 0;
}
.footerData__content-data {
  padding: 5px 0;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #757575;
  color: #757575;
  cursor: pointer;
}

.footer {
  background: rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 5;
}
.footer__content {
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 170px;
  padding-right: 170px;
}
.footer__content-title {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #757575;
  color: #757575;
}
.footer__content-category {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.footer__content-brand {
  font-weight: 400;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #757575;
  color: #757575;
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .footer__content {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 850px) {
  .footer__content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer__content-category {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 500px) {
  .footer__content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer__content-category {
    display: grid;
    grid-template-columns: auto;
  }
}

.logoBrand {
  font-size: 40px;
  color: #e50914;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 500px) {
  .logoBrand {
    font-size: 25px;
  }
}

.logoCustom {
  font-size: 30px;
  font-size: 30px;
  color: #e50914;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 500px) {
  .logoCustom {
    font-size: 25px;
  }
}

.Ninput {
  position: relative;
  margin-top: 15px;
}
.Ninput input {
  color: white;
  width: 100%;
  background-color: #303030;
  outline: none;
  border: 0px;
  padding: 18px 20px;
  border-radius: 4px;
}
.Ninput input.showErr {
  border-bottom: 1px solid #e87c03;
}
.Ninput_placeholder {
  font-weight: 400;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  color: #8c8c8c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  transition: ease-in-out 0.2s;
  pointer-events: none;
}
.Ninput_placeholder.add {
  top: 20%;
  font-weight: 700;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  color: #8c8c8c;
}
.Ninput_password {
  font-weight: 400;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  color: #8c8c8c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 9999;
}

.itemBox {
  margin: 0px 2px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}
.itemBox::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(5deg, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.1) 80%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.itemBox_cover {
  position: relative;
}
.itemBox_img {
  max-width: 100%;
  max-height: 150px;
  aspect-ratio: 19/10;
  -webkit-aspect-ratio: 19/10;
  -moz-aspect-ratio: 19/10;
  -ms-aspect-ratio: 19/10;
  -o-aspect-ratio: 19/10;
}
.itemBox_title {
  z-index: 10;
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  left: 20px;
  max-width: 70%;
  font-weight: 600;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.skeleton {
  width: 100%;
  min-height: 150px;
}

.skeletonBanner {
  width: 100%;
  min-height: 350px;
}

.skeletonName {
  width: 15%;
  margin-bottom: 15px;
}

.skeletonLoad {
  position: absolute;
  z-index: 200;
  top: 50%;
  transform: translateY(-50%);
  min-height: 200px;
}

.skeletonMultiBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.skeletonWrapper, .skeletonMultiBox {
  padding: 0 50px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 992px) {
  .skeletonWrapper, .skeletonMultiBox {
    padding: 0 10px;
  }
}

.recommendationBox {
  background-color: #181818;
  border-radius: 4px;
  overflow: hidden;
}
.recommendationBox__banner {
  background-position: center;
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 90px;
}
.recommendationBox__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.recommendationBox__title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.recommendationBox__favorite {
  cursor: pointer;
  transition: color ease-in-out 0.1s;
  color: #fff;
}
.recommendationBox__favorite.add {
  color: #e50914;
}
.recommendationBox__dateAdd {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.recommendationBox__overview {
  margin-top: 10px;
  padding: 0px 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #777777;
  color: #777777;
}

.errTextCenter {
  font-weight: 700;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.errTextPaddingCenter {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding-top: 200px;
  padding-bottom: 100px;
}

.errTextPaddingCenterEqual {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 50px 0px;
}

.banner, .login {
  position: relative;
  background-position: center;
  background-size: cover;
  border-bottom: 8px solid #222;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9b3267c9-5086-4550-92f1-eddc22a1f78e/57241e85-65de-46d2-9785-c41a30fc3a89/VN-en-20211004-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}
.banner__content {
  position: relative;
  padding: 20px 0;
  z-index: 2;
}
.banner__content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__content-wrapperText {
  padding-bottom: 90px;
}
.banner__content-signin {
  background-color: #e50914;
  padding: 7px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.banner__content-text {
  padding: 80px 0;
}
.banner__content-mainText {
  text-align: center;
  padding-top: 70px;
  line-height: 55px;
  font-weight: 700;
  font-size: 55px;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 1px;
}
.banner__content-mainText h5 {
  margin: auto;
  width: 50%;
}
.banner__content-mainText h6 {
  font-weight: 600;
  font-size: 23px;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 1px;
  line-height: normal;
  margin: 20px 0;
}
.banner__content-description {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 20px;
}
.banner__content-description p {
  word-break: normal;
}
@media only screen and (max-width: 1100px) {
  .banner__content-mainText h5 {
    width: 70%;
  }
}
@media only screen and (max-width: 800px) {
  .banner__content-mainText h5 {
    width: 90%;
  }
  .banner__content-description {
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
}
@media only screen and (max-width: 600px) {
  .banner__content-mainText h5 {
    width: 100%;
  }
  .banner__content-description {
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: white;
    max-width: 430px;
    margin: auto;
  }
}
@media only screen and (max-width: 500px) {
  .banner__content-text {
    padding: 15px 0;
  }
  .banner__content-wrapperText {
    padding-bottom: 40px;
  }
  .banner__content-mainText {
    padding-top: 50px;
  }
  .banner__content-mainText h5 {
    font-weight: 700;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color: white;
    line-height: 25px;
  }
  .banner__content-mainText h6 {
    font-weight: 700;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
}
.banner::after, .login::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.authContentPage__content {
  border-bottom: 8px solid #222;
}

.questionAuth {
  border-bottom: 8px solid #222;
}
.questionAuth__email {
  padding-bottom: 45px;
  text-align: center;
}
.questionAuth__email-title {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 18px 0;
}
@media only screen and (max-width: 600px) {
  .questionAuth__email-title {
    font-weight: 400;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
}
.questionAuth__content {
  padding: 45px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.questionAuth__content-title {
  font-weight: 700;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-bottom: 20px;
}
.questionAuth__content-dropdown {
  width: 55%;
  margin: 6px 0;
}
.questionAuth__content-description {
  background-color: #303030;
  margin-top: 2px;
  max-height: 0vh;
  overflow: hidden;
  transition: ease-out 0.25s;
  transition-property: max-height;
  -webkit-transition: ease-out 0.25s;
  -moz-transition: ease-out 0.25s;
  -ms-transition: ease-out 0.25s;
  -o-transition: ease-out 0.25s;
}
.questionAuth__content-description.show {
  max-height: 100vh;
}
.questionAuth__content-description p {
  padding: 15px 20px;
  font-weight: 400;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: left;
}
.questionAuth__content-main {
  background-color: #303030;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 15px 20px;
}
.questionAuth__content-main h6 {
  font-weight: 400;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: left;
}
@media only screen and (max-width: 1150px) {
  .questionAuth__content-dropdown {
    width: 85%;
  }
  .questionAuth__content-main h6 {
    font-weight: 400;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  .questionAuth__content-description p {
    font-weight: 400;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
}
@media only screen and (max-width: 800px) {
  .questionAuth__content-main h6 {
    font-weight: 400;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  .questionAuth__content-description p {
    font-weight: 400;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
}
@media only screen and (max-width: 600px) {
  .questionAuth__content-dropdown {
    width: 100%;
  }
}

.login {
  border-bottom: 8px solid #222;
  border: 0px;
}
.login__content {
  position: relative;
  padding: 20px 0px;
  z-index: 5;
}
.login__content-register {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  color: #8c8c8c;
}
.login__content-register span {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 5px;
}
.login__content-more {
  margin: 10px 0px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  color: #8c8c8c;
}
.login__content-more span {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  cursor: pointer;
  margin-left: 5px;
}
.login__content-policy {
  font-weight: 400;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  color: #8c8c8c;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity;
  transition: ease-in-out 0.25s;
  -webkit-transition: ease-out 0.25s;
  -moz-transition: ease-out 0.25s;
  -ms-transition: ease-out 0.25s;
  -o-transition: ease-out 0.25s;
}
.login__content-policy.show {
  opacity: 1;
  visibility: visible;
}
.login__content-form {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.75);
  padding: 20px 55px;
  max-width: 450px;
  margin: 30px auto 60px auto;
}
.login__content-form .formTitle {
  margin: 25px 0;
  font-weight: 700;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.login__content-err {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #e87c03;
  color: #e87c03;
}
.login__content-btn {
  margin: 20px 0;
  margin-bottom: 40px;
  background-color: #e50914;
  border-radius: 4px;
  cursor: pointer;
}
.login__content-btn p {
  padding: 15px 30px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.login__content-btn p.disable {
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  color: #8c8c8c;
}
.login__content-btn.disable {
  background-color: #757575;
  border-radius: 4px;
}
@media only screen and (max-width: 500px) {
  .login__content-form {
    padding: 20px 25px;
  }
}

.home__header {
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  max-width: 1920px;
  z-index: 999;
  transition: ease-in-out 0.2s;
  transition-property: background-color;
}
.home__header.add {
  background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 992px) {
  .home__header {
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    flex-wrap: wrap;
  }
}
.home__header-linkMobile {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.home__header-mobileBtn {
  margin-right: 10px;
  display: none;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .home__header-mobileBtn {
    display: block;
  }
}
.home__header-avatarMobile {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.home__header-detailMobile {
  border-bottom: 1px solid #333;
}
.home__header-left {
  display: flex;
  align-items: center;
}
.home__header-logoutMobile {
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 0px 20px;
  padding-bottom: 10px;
}
.home__header-logoutMobile span {
  cursor: pointer;
}
.home__header-right {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 5px;
}
@media only screen and (max-width: 992px) {
  .home__header-right {
    display: none;
  }
}
.home__header-menu {
  margin-left: 20px;
}
@media only screen and (max-width: 992px) {
  .home__header-menu {
    display: none;
  }
}
.home__header-mobileSearchGroup {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  padding: 6px 8px;
  display: none;
}
.home__header-mobileSearchGroup .home__header-searchBtnMobile {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 5px;
  display: block;
  background-color: #636262;
  padding: 2px 5px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}
.home__header-mobileSearchGroup .home__header-searchBtnMobile:active {
  background-color: #414141;
}
@media only screen and (max-width: 992px) {
  .home__header-mobileSearchGroup {
    display: flex;
  }
}
.home__header-searchGroup {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: transparent;
  margin-right: 20px;
  transition: all ease-in-out 0.2s;
}
.home__header-searchGroup .home__header-searchBtn {
  display: none;
  cursor: pointer;
  border: none;
}
.home__header-searchGroup.show {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
}
.home__header-searchGroup.show .home__header-searchBtn {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-left: 5px;
  outline: none;
  display: block;
  background-color: #636262;
  padding: 2px 5px;
  border-radius: 4px;
}
.home__header-searchGroup.show .home__header-searchBtn:active {
  background-color: #414141;
}
.home__header-search {
  margin-right: 10px;
  padding: 2px 8px;
  color: white;
  outline: none;
  border: none;
  display: none;
  background-color: transparent;
}
.home__header-search.show {
  display: block;
}
@media only screen and (max-width: 992px) {
  .home__header-search.mobile {
    margin-right: initial;
    display: block;
  }
}
.home__header-menuMobile {
  position: absolute;
  height: 100vh;
  top: 100%;
  left: 0;
  width: 40vw;
  background-color: #000000;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  display: none;
}
@media only screen and (max-width: 992px) {
  .home__header-menuMobile {
    display: block;
    transition-property: transform;
    transition: ease-in-out 0.2s;
  }
  .home__header-menuMobile.open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@media only screen and (max-width: 500px) {
  .home__header-menuMobile {
    width: 50vw;
  }
}
@media only screen and (max-width: 450px) {
  .home__header-menuMobile {
    width: 60vw;
  }
}
.home__header-dropdown {
  position: absolute;
  padding: 5px 20px;
  padding-right: 30px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.55);
  border: solid 1px rgba(255, 255, 255, 0.15);
  right: -15px;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity;
  transition: ease-in-out 0.25s;
}
.home__header-dropdown::before {
  content: "";
  position: absolute;
  top: -8px;
  z-index: 20;
  right: 15px;
  transform: rotateX(180deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0px 7px;
  border-color: #fff transparent transparent transparent;
  transition: ease-in-out 0.25s;
  transition-property: transform;
}
.home__header-detail {
  font-weight: 600;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 5px;
  cursor: pointer;
}
.home__header-detail span {
  position: relative;
  cursor: pointer;
}
.home__header-detail span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity;
  transition: ease-in-out 0.2s;
}
@media (hover: hover) {
  .home__header-detail:hover span::after {
    opacity: 1;
    visibility: visible;
  }
}
@media only screen and (max-width: 992px) {
  .home__header-detail {
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
}
.home__header-triangle {
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%) rotateX(0deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: #fff transparent transparent transparent;
  transition: ease-in-out 0.25s;
  transition-property: transform;
}
.home__header-avatarGroup {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 10px 0px;
}
@media (hover: hover) {
  .home__header-avatarGroup:hover .home__header-dropdown {
    opacity: 1;
    visibility: visible;
  }
  .home__header-avatarGroup:hover .home__header-triangle {
    transform: translateY(-50%) rotateX(180deg);
  }
}
.home__header-username {
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.home__header-avatar {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  overflow: hidden;
}
.home__header-link {
  margin-left: 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  transition: ease-in-out 0.25s;
  transition-property: color;
}
@media (hover: hover) {
  .home__header-link:hover {
    color: #b3b3b3;
  }
}
@media only screen and (max-width: 992px) {
  .home__header-link {
    margin-left: initial;
    margin-top: 8px;
  }
}

.home__banner {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 2;
  border: none;
}
.home__banner::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(15, 15, 15, 0.27);
  position: absolute;
  z-index: 7;
}
.home__banner .genreBar {
  position: fixed;
  padding-top: 110px;
  width: 100%;
  max-width: 1920px;
  z-index: 15;
  transition: all ease-in-out 0.2s;
}
.home__banner .genreBar.add {
  z-index: 9999;
  padding: 2% 0px;
  background-color: #0f0f0f;
}
@media only screen and (max-width: 992px) {
  .home__banner .genreBar.add {
    padding: 42px 0px;
  }
}
@media only screen and (max-width: 375px) {
  .home__banner .genreBar.add {
    padding: 40px 0px;
  }
}
@media only screen and (max-width: 375px) {
  .home__banner .genreBar {
    padding-top: 110px;
  }
}
.home__banner .genreBar__submenu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  top: 109%;
  left: -1px;
  padding: 20px;
  position: absolute;
  background-color: #0f0f0f;
  z-index: 300;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}
.home__banner .genreBar__submenu.add {
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 800px) {
  .home__banner .genreBar__submenu {
    top: 100%;
    column-gap: 50px;
    left: 0;
    right: 0;
  }
}
@media only screen and (max-width: 530px) {
  .home__banner .genreBar__submenu {
    column-gap: 10px;
  }
}
@media only screen and (max-width: 325px) {
  .home__banner .genreBar__submenu {
    grid-template-columns: repeat(3, 1fr);
  }
}
.home__banner .genreBar__link {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 5px;
  transition: color ease-in-out 0.2s;
}
@media (hover) {
  .home__banner .genreBar__link:hover {
    color: #b3b3b3;
  }
}
@media only screen and (max-width: 530px) {
  .home__banner .genreBar__link {
    margin: 2px;
    font-size: 12px;
  }
}
.home__banner .genreBar__mediatype {
  font-weight: 400;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
}
@media only screen and (max-width: 800px) {
  .home__banner .genreBar__mediatype {
    font-size: 16px;
  }
}
.home__banner .genreBar__wrapper {
  display: flex;
  align-items: center;
}
.home__banner .genreBar__group {
  margin-left: 40px;
  position: relative;
  background-color: #0f0f0f;
  padding: 2px 10px;
  border: 1px solid #b3b3b3;
  cursor: pointer;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 320px) {
  .home__banner .genreBar__group {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .home__banner .genreBar__group {
    position: initial;
  }
}
.home__banner .genreBar__genres {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-right: 20px;
}
.home__banner-content {
  position: relative;
  z-index: 10;
  padding-top: 170px;
  padding-bottom: 240px;
}
.home__banner-title {
  font-family: "Archivo Black", sans-serif;
  font-size: 75px;
  color: white;
  width: 90%;
}
.home__banner-overview {
  margin: 15px 0px;
  width: 47%;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.home__banner-btnGroup {
  margin-top: 20px;
  display: flex;
}
.home__banner-btnTrailer, .detailModal__inner-btnTrailer {
  cursor: pointer;
  padding: 10px 20px;
  background-color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: black;
  color: black;
  transition: ease-in-out 0.2s;
  transition-property: background-color;
}
@media (hover: hover) {
  .home__banner-btnTrailer:hover, .detailModal__inner-btnTrailer:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
.home__banner-btnDetail {
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
  padding: 10px 45px;
  background-color: rgba(117, 117, 117, 0.8);
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  transition: ease-in-out 0.2s;
  transition-property: background-color;
}
@media (hover: hover) {
  .home__banner-btnDetail:hover {
    background-color: rgba(117, 117, 117, 0.5);
  }
}
@media only screen and (max-width: 992px) {
  .home__banner-content {
    padding-top: 150px;
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 700px) {
  .home__banner-overview {
    width: 100%;
  }
  .home__banner-title {
    font-size: 55px;
  }
}
@media only screen and (max-width: 600px) {
  .home__banner-content {
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .home__banner-overview {
    font-weight: 400;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  .home__banner-title {
    margin-top: 20px;
    font-size: 35px;
  }
}
@media only screen and (max-width: 400px) {
  .home__banner-btnDetail {
    margin-left: initial;
    margin-top: 10px;
    padding: 10px 20px;
  }
  .home__banner-btnGroup {
    flex-direction: column;
  }
}

.home__wrapper, .Tvshow__wrapper {
  position: relative;
  z-index: 100;
  top: -120px;
}
@media only screen and (max-width: 992px) {
  .home__wrapper, .Tvshow__wrapper {
    top: 0px;
  }
}
.home__category {
  z-index: 8;
  margin-bottom: 40px;
}
.home__category-header {
  font-weight: 600;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-bottom: 15px;
}
.home__category-content .swiper-container-horizontal > .swiper-pagination-bullets, .home__category-content .swiper-pagination-custom, .home__category-content .swiper-pagination-fraction {
  bottom: 10px;
  left: initial;
  width: auto;
}
.home__category-content .swiper-container {
  display: flex;
  align-items: center;
  overflow: unset;
}
.home__category-content .swiper-container .swiper-wrapper {
  width: 100%;
  margin: auto;
}
.home__category-content .swiper-container .swiper-pagination {
  position: absolute;
  top: -1.7rem;
  display: flex;
  right: 3rem;
  opacity: 0;
  height: 1rem;
  visibility: hidden;
  z-index: 3;
  transition: opacity, ease-in-out 0.2s;
}
.home__category-content .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background: rgba(140, 140, 140, 0.4);
  width: 15px;
  height: 3px;
  right: 15px;
  opacity: 1;
  border-radius: unset;
}
.home__category-content .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #757575;
}
.home__category-content .swiper-container .swiper-button-disabled {
  display: none;
}
.home__category-content .swiper-container .swiper-button-next, .home__category-content .swiper-container .swiper-button-prev {
  color: white;
  height: 100%;
  margin-top: initial;
  top: 0;
  cursor: pointer;
  padding: 0px 56px;
  right: -60px;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity, ease-in-out 0.2s;
}
.home__category-content .swiper-container .swiper-button-next::after, .home__category-content .swiper-container .swiper-button-prev::after {
  font-size: 36px;
  font-weight: bold;
}
.home__category-content .swiper-container .swiper-button-prev {
  left: -60px;
}
@media (hover: hover) {
  .home__category-content .swiper-container:hover .swiper-button-next, .home__category-content .swiper-container:hover .swiper-button-prev {
    opacity: 1;
    visibility: visible;
  }
  .home__category-content .swiper-container:hover .swiper-pagination {
    opacity: 1;
    visibility: visible;
  }
}
@media only screen and (max-width: 992px) {
  .home__category-content .swiper-container .swiper-pagination .swiper-pagination-bullet {
    display: none;
  }
  .home__category-content .swiper-container .swiper-button-next, .home__category-content .swiper-container .swiper-button-prev {
    opacity: 1;
    visibility: visible;
    right: -20px;
    padding: 0px 28px;
  }
  .home__category-content .swiper-container .swiper-button-prev {
    left: -20px;
  }
}
@media only screen and (max-width: 600px) {
  .home__category-content .swiper-container .swiper-button-next, .home__category-content .swiper-container .swiper-button-prev {
    padding: 0px 28px;
  }
  .home__category-content .swiper-container .swiper-button-next::after, .home__category-content .swiper-container .swiper-button-prev::after {
    font-size: 26px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 400px) {
  .home__category-content .swiper-container .swiper-wrapper {
    width: 100%;
  }
}

.detailModal, .modalTrailer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 10000;
}
.detailModal__inner {
  overflow: hidden;
  background-color: #000;
  width: 60vw;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  border-radius: 4px;
  position: relative;
}
.detailModal__inner-background {
  background-position: center;
  background-size: cover;
  position: relative;
}
.detailModal__inner-info, .detailModal__inner-recommend {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
}
.detailModal__inner-recommend {
  display: block;
  max-height: 150vh;
  overflow: hidden;
}
.detailModal__inner-recommend.add {
  max-height: initial;
}
.detailModal__inner-moreBtn {
  position: relative;
  z-index: 200;
  margin-top: -15px;
  height: 2px;
  background-color: rgba(73, 72, 72, 0.6);
}
.detailModal__inner-recommendTitle {
  font-weight: 600;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-bottom: 10px;
}
.detailModal__inner-date {
  font-weight: 600;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.detailModal__inner-title {
  padding-top: 300px;
  padding-left: 40px;
  padding-bottom: 50px;
}
.detailModal__inner-name {
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
  color: white;
  max-width: 70%;
}
.detailModal__inner-infoLeft {
  width: 100%;
}
.detailModal__inner-infoRight {
  padding-left: 20px;
}
.detailModal__inner-genres {
  margin-top: 15px;
}
.detailModal__inner-crewTitle, .detailModal__inner-finalInfoCategory {
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #777777;
  color: #777777;
}
.detailModal__inner-crewName {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.detailModal__inner-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.detailModal__inner-recommendItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 15px;
}
@media only screen and (max-width: 680px) {
  .detailModal__inner-recommendItem {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 450px) {
  .detailModal__inner-recommendItem {
    grid-template-columns: repeat(1, 1fr);
  }
}
.detailModal__inner-overview {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 22px;
}
.detailModal__inner-btnTrailer {
  display: inline;
  cursor: pointer;
  margin-right: 15px;
}
.detailModal__inner-icon, .detailModal__inner-iconMore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px;
}
.detailModal__inner-iconMore {
  border-radius: 50%;
}
.detailModal__inner-final {
  padding-bottom: 30px;
}
.detailModal__inner-config {
  display: flex;
  align-items: center;
}
.detailModal__inner-release {
  margin-right: 10px;
}
.detailModal__inner-infoWrapper {
  padding: 0px 40px;
}
.detailModal__inner-iconWrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.detailModal__inner-moreInfo {
  font-weight: 600;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 35px;
  position: relative;
}
.detailModal__inner-finalInfoCategory {
  margin-top: 10px;
}
.detailModal__inner-btnAdd, .detailModal__inner-iconWrapper {
  background-color: rgba(42, 42, 42, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  width: 45px;
  height: 45px;
  position: relative;
  margin-left: 15px;
}
.detailModal__inner-btnAdd:nth-child(1), .detailModal__inner-iconWrapper:nth-child(1) {
  margin-left: 0px;
}
@media only screen and (max-width: 992px) {
  .detailModal__inner {
    width: 90vw;
  }
}
@media only screen and (max-width: 650px) {
  .detailModal__inner-recommendTitle {
    font-weight: 600;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  .detailModal__inner-infoRight {
    padding-left: initial;
  }
  .detailModal__inner-info, .detailModal__inner-recommend {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .detailModal__inner-title {
    padding-left: 20px;
  }
  .detailModal__inner-infoWrapper {
    padding: 0px 20px;
  }
  .detailModal__inner-name {
    font-size: 20px;
    max-width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .detailModal__inner {
    width: 90vw;
  }
}
@media only screen and (max-width: 339px) {
  .detailModal__inner-config {
    margin-top: 10px;
  }
}
.detailModal__close {
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 888;
  cursor: pointer;
  background-color: #181818;
  padding: 5px 10px;
  border-radius: 50%;
}

.notFound {
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.searchPage {
  padding-top: 120px;
}
.searchPage__notFound {
  font-weight: 700;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  padding: 100px 0px;
}

.modalTrailer {
  z-index: 10001;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}
.modalTrailer.add {
  opacity: 1;
  visibility: visible;
}
.modalTrailer__iframe {
  width: 70vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 500px) {
  .modalTrailer__iframe {
    width: 85vw;
    height: 55vh;
  }
}
.modalTrailer__notFound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.2s;
}
.modalTrailer__notFound.add {
  opacity: 1;
  visibility: visible;
}

.favorite {
  padding-top: 80px;
}
@media only screen and (max-width: 438px) {
  .favorite {
    padding-top: 110px;
  }
}
.favorite__tab {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.favorite__tab-movie, .favorite__tab-tv {
  transition: all ease-in-out 0.2s;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
@media (hover: hover) {
  .favorite__tab-movie:hover, .favorite__tab-tv:hover {
    color: #b3b3b3;
  }
}
.favorite__tab-movie.add, .add.favorite__tab-tv {
  color: #b3b3b3;
}
.favorite__tab-movie.add::after, .add.favorite__tab-tv::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #b3b3b3;
  bottom: -10px;
  left: 0;
  z-index: 15;
}
.favorite__tab-tv {
  margin-right: initial;
}
.favorite__content {
  padding-top: 30px;
}
.favorite__content-movie, .favorite__content-tv {
  opacity: 0;
  transition: all ease-in-out 0.2s;
}
.favorite__content-movie.add, .add.favorite__content-tv {
  opacity: 1;
}
.MediaWrapper, .searchPage__grid, .favorite__content-movie, .favorite__content-tv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 2px;
}
@media only screen and (max-width: 992px) {
  .MediaWrapper, .searchPage__grid, .favorite__content-movie, .favorite__content-tv {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 550px) {
  .MediaWrapper, .searchPage__grid, .favorite__content-movie, .favorite__content-tv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 400px) {
  .MediaWrapper, .searchPage__grid, .favorite__content-movie, .favorite__content-tv {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=main.css.map */
