@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Permanent+Marker&display=swap');
$red-color:#e50914;
$font-montserrat: 'Montserrat', sans-serif;
$regular:400;
$semi-bold:600;
$bold:700;
$red-color-active:#bb0a12;
$box-shadow-red:0 0 0 0.085em #85050b;
$placeholder-color:#8c8c8c;
$dropdown-color:#303030;
$grey-color:#757575;
$orange:#e87c03;
$light-grey:#b3b3b3;
$font-archivo:'Archivo Black', sans-serif;
$font-permanent:'Permanent Marker', cursive;
$yellow:rgb(247, 212, 17);