.login{
    @extend .banner;
    @include borderBottom(false);
    &__content{
        position: relative;
        padding: 20px 0px;
        z-index: 5;
        &-register{
            margin-top: 10px;
            @include font-regular(16px,$placeholder-color);
            span{
                cursor: pointer;
                @include font-regular(16px,white);
                margin-left: 5px;  
            }
        }
        &-more{
            margin: 10px 0px;
            @include font-regular(14px,$placeholder-color);
            span{
                @include font-regular(14px,white);
                cursor: pointer;
                margin-left: 5px;  
            }
        }
        &-policy{
            @include font-regular(12px,$placeholder-color);
            opacity: 0;
            visibility: hidden;
            transition-property: opacity;
            transition: ease-in-out 0.25s;
            &.show{
                opacity: 1;
                visibility: visible;
            }
        }
        &-form{
            border-radius: 4px;
            background: rgba(0,0,0,.75);
            padding: 20px 55px;
            max-width: 450px;
            margin: 30px auto 60px auto;
            .formTitle{
                margin: 25px 0;
                @include font-bold(26px)
            }
        }
        &-err{
            margin-top: 5px;
            @include font-regular(14px,$orange);
        }
        &-btn{
            margin: 20px 0;
            margin-bottom: 40px;
            background-color: $red-color;
            border-radius: 4px;
            cursor: pointer;
            p{
                padding: 15px 30px;
                text-align: center;
                @include font-semiBold(16px);
                &.disable{
                    @include font-semiBold(16px,$placeholder-color);
                }
            }
            &.disable{
                background-color: $grey-color;
                border-radius: 4px;
            }
        }
        @include media(500){
            &-form{
                padding: 20px 25px;
            }
        }
    }
}