.home{
    &__banner{
        width: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 2;
        border: none;
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #0f0f0f, $alpha: 0.27);
            position: absolute;
            z-index: 7;
        }
        .genreBar{
            position:fixed;
            padding-top: 90px;
            width: 100%;
            max-width: 1920px;
            z-index: 15;
            transition: all ease-in-out 0.2s;
            &.add{
                z-index: 9999;
                padding: 2% 0px;
                background-color: #0f0f0f;
                @include media(992){
                    padding: 27px 0px;
                }
                @include media(375){
                    padding: 40px 0px;
                }
            }
            @include media(375){
               padding-top: 110px;
            }
            &__submenu{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                column-gap: 50px;
                top: 109%;
                left: -1px;
                padding: 20px;
                position: absolute;
                background-color: #0f0f0f;
                z-index: 300;
                opacity: 0;
                visibility: hidden;
                transition: all ease-in-out 0.2s;
                &.add{
                    opacity: 1;
                    visibility: visible
                }
                @include media(800){
                    top: 100%;
                    column-gap: 50px;
                    left: 0;
                    right: 0;
                }
                @include media(530){
                    column-gap: 10px;
                }
                @include media(325){
                    grid-template-columns: repeat(3,1fr);
                }
            }
            &__link{
                @include font-regular(14px);
                margin: 5px;
                transition: color ease-in-out 0.2s;
                @media(hover){
                    &:hover{
                        color:$light-grey
                    }
                }
                @include media(530){
                    margin: 2px;
                    font-size: 12px
                }
            }
            &__mediatype{
               @include font-regular(20px);
               text-transform: uppercase;
               @include media(800){
                font-size: 16px
            } 
            }
            &__wrapper{
                display: flex;
                align-items: center;
            }
            &__group{
                margin-left: 40px;
                position: relative;
                background-color: #0f0f0f;
                padding: 2px 10px;
                border: 1px solid $light-grey;
                cursor: pointer;
                display: flex;
                align-items: center;
                @include media(320){
                    margin-left: 20px;
                }
                @include media(800){
                    position: initial
                }
            }
            &__genres{
                @include font-regular(14px);
                margin-right: 20px;
            }
        }
        &-content{
            position: relative;
            z-index: 10;
            padding-top: 170px;
            padding-bottom: 240px;
        }
        &-title{
            font-family: $font-archivo;
            font-size: 75px;
            color: white;
            width: 90%;
        }
        &-overview{
            margin: 15px 0px;
            width: 47%;
            line-height: 20px;
            @include font-regular(14px)
        }
        &-btnGroup{
            margin-top: 20px;
            display: flex;
        }
        &-btnTrailer{
            cursor: pointer;
            padding: 10px 20px;
            background-color: white;
            border-radius: 4px;
            @include font-semiBold(14px,black);
            transition: ease-in-out 0.2s;
            transition-property: background-color;
            @media (hover:hover){
                &:hover{
                    background-color: rgba($color: white, $alpha: 0.7);
                }
            }
        }
        &-btnDetail{
            cursor: pointer;
            margin-left: 10px;
            border-radius: 4px;
            padding: 10px 45px;
            background-color: rgba($color: $grey-color, $alpha: 0.8);
            @include font-semiBold(14px,white);
            transition: ease-in-out 0.2s;
            transition-property: background-color;
            @media (hover:hover){
                &:hover{
                    background-color: rgba($color: $grey-color, $alpha: 0.5);
                }
            }
        }
        @include media(992){
            &-content{
                padding-top: 150px;
                padding-bottom: 80px;
            }
        }
        @include media(700){
            &-overview{
                width: 100%;
            }
            &-title{
                font-size: 55px;
            }
        }
        @include media(600){
            &-content{
                padding-top: 120px;
                padding-bottom: 40px;
            }
            &-overview{
                @include font-regular(12px)
            }
            &-title{
                margin-top: 20px;
                font-size: 35px;
            }
        }
        @include media(400){
            &-btnDetail{
                margin-left: initial;
                margin-top: 10px;
                padding: 10px 20px;
            }
            &-btnGroup{
                flex-direction: column;
            }
        }
    }
}