.detailModal{
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.7);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 10000;
    &__inner{
        overflow: hidden;
        background-color: #000;
        width: 60vw;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        z-index: 1000;
        border-radius: 4px;
        position: relative;
        &-background{
            background-position: center;
            background-size: cover;
            position: relative;
        }
        &-info{
            margin-top: 10px;
            // padding-left: 50px;
            // padding-right: 20px;
            margin-bottom: 20px;
            display: flex;
        }
        &-recommend{
            @extend .detailModal__inner-info;
            display: block;
            max-height: 150vh;
            overflow: hidden;
            &.add{
                max-height: initial;
            }
        }
        &-moreBtn{
            position: relative;
            z-index: 200;
            margin-top: -15px;
            height: 2px;
            background-color: rgba(73, 72, 72, 0.6);
        }
        &-recommendTitle{
            @include font-semiBold(24px);
            margin-bottom: 10px;
        }
        &-date{
            @include font-semiBold(16px)
        }
        &-title{
            padding-top: 300px;
            padding-left: 40px;
            // padding-right: 20px;
            padding-bottom: 50px;
        }
        &-name{
            font-family: $font-archivo;
            font-size: 40px;
            color: white;
            max-width: 70%;
        }
        &-infoLeft{
            width: 100%;
        }
        &-infoRight{
            padding-left: 20px;
        }
        &-genres{
            margin-top: 15px;
        }
        &-crewTitle{
            @include font-semiBold(14px,#777777)
        }
        &-crewName{
            @include font-regular(14px)
        }
        &-btn{
            margin-top: 10px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &-recommendItem{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 10px;
            row-gap: 10px;  
            margin-top: 15px;
            @include media(680){
                grid-template-columns: repeat(2,1fr);
            }
            @include media(450){
                grid-template-columns: repeat(1,1fr);
            }
        }
        &-overview{
            margin-top: 10px;
            @include font-regular(14px);
            line-height: 22px
        }
        &-btnTrailer{
            @extend .home__banner-btnTrailer;
            display: inline;
            cursor: pointer;
            margin-right: 15px;
        }
        &-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 2px;
        }
        &-iconMore{
            @extend .detailModal__inner-icon;
            border-radius: 50%;
        }
        &-final{
            padding-bottom: 30px;
        }
        &-config{
            display: flex;
            align-items: center;
        }
        &-release{
            margin-right: 10px;
        }
        &-infoWrapper{
            padding: 0px 40px
        }
        &-iconWrapper{
            @extend .detailModal__inner-btnAdd;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%)
        }
        &-moreInfo{
            @include font-semiBold(20px);
            margin-top: 35px;
            position: relative;
        }
        &-finalInfoCategory{
            @extend .detailModal__inner-crewTitle;
            margin-top: 10px;
        }
        &-btnAdd{
            background-color: rgba(42,42,42,.6);
            border:2px solid rgba(255,255,255,.5);
            border-radius: 50%;
            cursor: pointer;
            width: 45px;
            height: 45px;
            position: relative;
            margin-left: 15px;
            &:nth-child(1){
                margin-left: 0px;
            }
            .rating{
                border-radius: 4px;
                background-color: rgb(63, 63, 63);
                position: absolute;
                left: 50%;
                top: 100%;
                transform: translateX(-50%);
                margin-top: 10px;
                display: flex;
                opacity: 0;
                visibility: hidden;
                padding: 7px 5px;
                &::after{
                    content: '';
                    width:8px;
                    height: 8px;
                    position: absolute;
                    border-width: 4px;
                    border-style: solid;
                    border-color: transparent transparent rgb(63, 63, 63) transparent;
                    top: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &__delete{
                    margin-left: 5px;
                    margin-right: 10px;
                    transition: color ease-in-out 0.2s;
                    @media (hover:hover){
                      &:hover {
                        color: rgb(117, 115, 115);
                      }
                    }
                }
                &__group{
                    position: relative;
                    display: flex;
                    &:hover .rating__group-star{
                        color: $yellow;
                    }
                    &-star{
                        cursor: pointer;
                        transition: color ease-in-out 0.2s;
                        padding: 0px 3px;
                        color: white;
                        &:hover{
                            color: white;
                        }
                        &:hover ~ .rating__group-star{
                            color: white;
                        }
                        &.add{
                            color: $yellow;
                        }
                    }
                }
                &.add{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        @include media(992){
            width: 90vw;
        }
        @include media(650){
            &-recommendTitle{
                @include font-semiBold(20px)
            }
            &-infoRight{
                padding-left: initial;
            }
            &-info{
                flex-direction: column;
            }
        }
        @include media(600){
            &-title{
                padding-left: 20px;
            }
            &-infoWrapper{
                padding: 0px 20px;
            }
            &-name{
                font-size: 20px;
                max-width: 100%;
            }
        }
        @include media(500){
            width: 90vw;
        }
        @include media(339){
            &-config{
                margin-top: 10px;
            }
        }
    }
    &__close{
        position: absolute;
        top: 20px;
        right: 15px;
        z-index: 888;
        cursor: pointer;
        background-color: #181818;
        padding: 5px 10px;
        border-radius: 50%;
    }
}
.notFound{
    @include font-semiBold(14px)
}