.favorite{
    padding-top: 80px;
    @include media(438){
        padding-top: 110px
    }
    &__tab{
        @include font-regular(16px);
        &-movie{
            transition: all ease-in-out 0.2s;
            margin-right: 10px;
            position: relative;
            cursor: pointer;
            @media(hover:hover){
                &:hover{
                    color:$light-grey;
                }
            }
            &.add{
                color:$light-grey;
                &::after{
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: $light-grey;
                    bottom: -10px;
                    left:0;
                    z-index: 15;
                }
            }
        }
        &-tv{
            @extend .favorite__tab-movie;
            margin-right: initial;
        }
    }
    &__content{
        padding-top: 30px;
        &-movie{
            @extend .MediaWrapper;
            opacity: 0;
            transition: all ease-in-out 0.2s;
            &.add{
                opacity: 1;
            }       
        }
        &-tv{
            @extend .favorite__content-movie
        }
    }
}