.modalTrailer{
    @extend .detailModal;
    z-index: 10001;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
    &.add{
        opacity: 1;
        visibility: visible;
    }
    &__iframe{
        width: 70vw;
        height: 90vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include media(500){
            width: 85vw;
            height: 55vh;
        }
    }
    &__notFound{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include font-bold(20px);
        opacity:0;
        visibility: hidden;
        transition: all ease-in-out 0.2s;
        &.add{
            opacity: 1;
            visibility: visible;
        }
    }
}